# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

###> Symfony configuration ###
APP_ENV=
APP_SECRET=
###< Symfony configuration ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=
JWT_TOKEN_LIFETIME=
###< lexik/jwt-authentication-bundle ###

###> MYSQL configuration ###
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
###< MYSQL configuration ###

###> Caddy configuration ###
API_URL=
CLIENT_URL=
###< Caddy configuration ###