# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> MYSQL configuration ###
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=
###< MYSQL configuration ###

###> caddy configuration ###
BACKEND_URL=api.localhost
FRONTEND_URL=localhost
###< caddy configuration ###