###> Build directories ###
dist
build
###< Build directories ###

###> Environment files ###
.env
.env.local
.env.*.local
###< Environment files ###

###> Logs ###
*.log
###< Logs ###

###> Editor directories and files ###
.idea
.vscode
!.vscode/extensions.json
###< Editor directories and files ###

###> PHP / Symfony ###
app/api/var/
app/api/vendor/
.phpunit.result.cache
###< PHP / Symfony ###

###> Node / React / Vite ###
app/client/node_modules
app/client/.vite
app/client/dist
app/client/.pnpm-store
app/client/.env
###< Node / React / Vite ###